In [2]:
import pandas as pd

(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

In [4]:
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd())

Timestamp('2019-11-30 00:00:00')

In [5]:
import pandas as pd
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')

In [5]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [14]:
import re
s = 'ABCAC'

re.match('A',s)

In [40]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = r'[B-Z](?=AAA)'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result
result()

['C', 'F', 'B']

In [76]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'item' : ['item_1','item_1','item_1','item_2','item_2','item_2'] , 'Store' : ['A','B','C','A','B','C'] , 'sold' : [ 10.0 , 20.0 , np.nan , 5.0 , 10.0 , 15.0]} , index = np.arange(6))
df

     item Store  sold
0  item_1     A  10.0
1  item_1     B  20.0
2  item_1     C   NaN
3  item_2     A   5.0
4  item_2     B  10.0
5  item_2     C  15.0

In [75]:
df.groupby('item').sum().o

AttributeError: 'DataFrame' object has no attribute 'o'

In [78]:
df.index[0]

0